/* ---------------------------------
          google-font-start
--------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
/* ---------------------------------
          google-font-start
--------------------------------------------- */
/* ---------------------------------
          body-start
--------------------------------------------- */
body{

     font-family: 'Rubik', sans-serif;
    
}
p{
     color: #3A3A3A;
}
/* ---------------------------------
          body-end
--------------------------------------------- */
/* ---------------------------------
          body-end
--------------------------------------------- */
/* ---------------------------------
          nav-satrat
--------------------------------------------- */
.main-nav{
     padding-top: 35px;
     display: flex;
     align-items: center;
     justify-content: space-around;
}
.common-color{
     color: #E02C6D;
}
.nav-name{
     cursor: pointer;
     padding-right: 50px;
}
.nav-ancor {
     padding-left: 100px;
}
.nav-ancor .icon{
     font-size: 22px;
     width: 40px;
     height: 40px;
     
}
.nav-ancor a{
     text-decoration: none;
     padding: 10px 13px;
     color: black;
     font-weight: 600;
}
.nav-ancor a:hover{
     color: #E02C6D;
}
/* ---------------------------------
          nav-end
--------------------------------------------- */
/* ---------------------------------
          header-start
--------------------------------------------- */
.main-header{
      display: grid;
      grid-template-columns: repeat(2, 55% 45%);
      grid-template-rows: repeat(1, 1fr);
      grid-gap: 10px;
      padding: 50px 0;
}
.header-text{
     padding: 30px 10px 0px 100px;
     font-weight: 500;
}
.header-text h1{
     font-size: 55px;
}
.header-img img{
      width: 70%; 
      padding-left: 40px;  
}
.button{
     padding: 10px 25px;
     border-radius: 20px;
     border: none;
     background-color: #E02C6D;
     font-weight: 600;
     font-size: 15px;
     color: whitesmoke;

}

/* ---------------------------------
          header-end
--------------------------------------------- */
/* ---------------------------------
          company-logo-start
--------------------------------------------- */
.company-name{
     display: flex;
     align-items: center;
     justify-content: center;
}
.company-logo{
     padding: 20px 20px;
}
.company-logo img{
     width: 80%;
}
 .hori hr{
      margin: auto;
     width: 80%;
     border: none;
     height: 2px;
     background-color: rgb(242, 233, 233);
}
/* ---------------------------------
          companyj-logo-end
--------------------------------------------- */
/* ---------------------------------
          article-start
--------------------------------------------- */
     .collection{
          width: 75%;
          max-height: 100%;
          margin: auto;
}
.collection h1{
     padding-top: 70px;
     text-align: center;
     font-size: 30px;
}
.collection-name{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);
     grid-gap: 20px;
     justify-content: space-;

}
.see a{
     text-decoration: none;
     padding: 50px 100;
     text-align:;
}
.collection-box{
     width: 260px;
     height: 430px;
     border: none;
     border-radius: 5px;
     padding: 12px;
     box-shadow: 1px 1px 30px rgb(219, 216, 216);

}

.collection-img, small{
     font-weight: 900;
     color: #95959F;
}
.collection-img h1{
     font-size: 40px;
}
.collection-img img{
     width: 100%;
}
.prise{
     font-size: 25px;
     color: #2c2b2b;
}
.collection-icon{
     font-size: 10px;
     font-weight: 600;
     color: #FB9221;
     padding-right: 10px;
}
.collection-img, p{
     font-size: 13px;
     color: #858585;
}
 a{
     text-align: center;
     text-decoration: none;
     display: inline-block;
     align-items: center;
     color: #E02C6D;
     font-weight: 600;
     padding: 40px 0px 40px 1000px;
}


/* ---------------------------------
          article-end
--------------------------------------------- */
/* ---------------------------------
          article-introduce-start
--------------------------------------------- */
.introduce{
     width: 90%;
     margin:0px auto;
     position: relative;
}
.about{
     display: grid;
     grid-template-columns: 45% 30% 25%;
     grid-template-rows: 1fr;
     align-items: center;
}
.about-me{
     padding: 0px 30px 0px 50px;
     font-size: 22px;
}
.about-message{
     margin-top: 50px;
     width: 100%;
     font-family: 'Rubik', sans-serif;
}
input[type="text"]{
     padding: 10px 10px;
     max-width: 42%;
     display: inline;

}
input[type="password"]{
     padding: 10px 10px;
     max-width:42%;
     display: inline;
}
input[type="subject"]{
     padding: 10px 10px;
     width: 93%;
}
input{
     display: inline-block;
}
textarea{
     width: 93%;
     padding: 10px;
     margin-bottom: 10px;
     font-family: 'Rubik', sans-serif;
}
.about-form{
     width: 100%;
}
.about-img img{
     width: 34%;
     position: absolute;
     top: 15px;

    
}

/* ---------------------------------
     article-introduce-end
--------------------------------------------- */
