/* ---------------------------------
          google-font-start
--------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
/* ---------------------------------
          google-font-start
--------------------------------------------- */
/* ---------------------------------
          body-start
--------------------------------------------- */
body{

     font-family: 'Ubuntu', sans-serif;
    
}
p{
     color: #3A3A3A;
}
/* ---------------------------------
          body-end
--------------------------------------------- */
/* ---------------------------------
          body-end
--------------------------------------------- */
/* ---------------------------------
          nav-satrat
--------------------------------------------- */
.main-nav{
     width: 100%;
     padding-top: 35px;
     display: flex;
     align-items: center;
     justify-content: space-around;
}
.common-color{
     color: #E02C6D;
}
.nav-name{
     cursor: pointer;
     padding-right: 100px;
}
.nav-ancor {
     padding-left: 100px;
}
.nav-ancor .icon{
     font-size: 22px;
     width: 40px;
     height: 40px;
     
}
.nav-ancor > a{
     text-decoration: none;
     padding: 10px 13px;
     color: black;
     font-weight: 600;
}
.nav-ancor a:hover{
     color: #E02C6D;
}
/* ---------------------------------
          nav-end
--------------------------------------------- */

/* ---------------------------------
          header-start
--------------------------------------------- */
.main-header{
     width: 100% ;
      display: grid;
      grid-template-columns: repeat(2, 55% 45%);
      grid-template-rows: repeat(1, 1fr);
      grid-gap: 10px;
      padding: 50px 0;
   
}
.header-text button{
     margin-left: 100px;

}
.header-para h1{
     margin-left: 90px;
}
.header-para p{
     margin-left: 40px;
     color: #2c2b2b;
     font-weight: 600;
     font-size: 18px;
}
.header-text h1{
     font-size: 55px;
}
.header-text p{
     padding-left: -100px;
}


.header-img img{
      width: 70%; 
      padding-left: 40px;  
}
.button{
     padding: 10px 25px;
     border-radius: 20px;
     border: none;
     background-color: #E02C6D;
     font-weight: 600;
     font-size: 15px;
     color: whitesmoke;

}
#animation{
     animation-name: maruf;
     animation-duration: 3s;
     animation-iteration-count: infinite;
     animation-direction: alternate-reverse;
}

@keyframes maruf{
    0%{
         color: #E02C6D;
    }
    25%{
         color: #0a726a;
    }
    50%{
         color: #4ab8dd;
    }
    75%{
         color: rgb(208, 208, 11);
    }
    100%{
         color: rgb(225, 147, 160);
    }
}

/* ---------------------------------
          header-end
--------------------------------------------- */
/* ---------------------------------
          company-logo-start
--------------------------------------------- */
.company-name{
     display: flex;
     align-items: center;
     justify-content: center;
}
.company-logo{
     padding: 20px 20px;
}
.company-logo img{
     width: 80%;
}
 .horizonl hr, hr{
      margin: auto;
     width: 80%;
     border: none;
     height: 2px;
     background-color: rgb(242, 233, 233);
}
/* ---------------------------------
          companyj-logo-end
--------------------------------------------- */
/* ---------------------------------
          article-start
--------------------------------------------- */
     .collection{
          width: 70%;
          margin: auto;
}
.collection h1{
     padding-top: 70px;
     text-align: center;
     font-size: 30px;
}
.collection-name{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);
     grid-gap: 20px;
     justify-content: space-evenly;

}

.collection-box{
     width: 280px;
     height: 430px;
     border: none;
     border-radius: 5px;
     padding: 12px;
     box-shadow: 1px 1px 30px rgb(219, 216, 216);
    

}

.collection-img, small{
     font-weight: 600;
     color: #38383d;
}
.collection-img h1{
     font-size: 40px;
}
.collection-img img{
     width: 100%;
}
.prise{
     font-size: 25px;
     color: #2c2b2b;
}
.coll-icon{
     font-size: 10px;
     font-weight: 600;
     color: #FB9221;     
}
.number{
     margin-left: 20px;
     margin-bottom: 5px;

}
.collection-img, p{
     font-size: 13px;
     color: #858585;
} 

 a{
     text-align: center;
     text-decoration: none;
     display: inline-block;
     align-items: center;
     color: #E02C6D;
     font-weight: 600;
     padding: 40px 0px 40px 1100px;
}


/* ---------------------------------
          article-end
--------------------------------------------- */
/* ---------------------------------
          article-introduce-start
--------------------------------------------- */
.introduce{
     width: 90%;
     height: auto;
     margin:0px auto 20px auto;
     position: relative;
}
.about{
     display: grid;
     grid-template-columns: 45% 30% 25%;
     grid-template-rows: 1fr;
     align-items: center;
}
.about-form h2{
     color: #1E1E1E;
}
.about-me h1, p{
     padding: 0px 30px 0px 50px;
     font-size: 15px;
}
.about-me p{
     color: #2C2B2B;
     font-weight: 500;
}
.about-me h1{
     font-size: 30px;
}
#address{
     font-size: 18px;
}
.about-message{
     margin-top: 50px;
     width: 100%;
     font-family: 'Rubik', sans-serif;
}
.a-incon{
     font-size: 25px;
     color: #E02C6D;
     align-items: center;
}
input[type="text"]{
     padding: 10px 10px;
     max-width: 42%;
     display: inline;
     color: black;

}
input[type="password"]{
     padding: 10px 10px;
     max-width:42%;
     display: inline;
}
input[type="subject"]{
     padding: 10px 10px;
     width: 93%;
}
input:focus{
     color: #E02C6D;
     border: 2px solid #E02C6D;
}
input{
     display: inline-block;
     border: 2px solid black;
     border-radius: 4px;
     
}
textarea{
     width: 93%;
     padding: 10px;
     margin-bottom: 10px;
     font-family: 'Ubuntu', sans-serif;
     border: 2px solid black;
     border-radius: 4px;

}
textarea:focus{
     color: #E02C6D;
}
.about-form{
     width: 100%;
}
.about-img img{
     width: 34%;
     position: absolute;
     top: 0px;

    
}

/* ---------------------------------
     article-introduce-end
--------------------------------------------- */
/* -------------------------------------------
          footer-start
---------------------------------------------- */
.main-footer{
     background-color: #0A0826;
     width: 100%;
     height: 230px;
     color: whitesmoke;
   
}
.normal-footer{
 text-align: center; 
    
}
.normal-footer, h3{
     padding-top: 20px;
     color: whitesmoke;
}
.normal-footer p{
     color: whitesmoke;
}
.f-footer{
     font-size: 15px;
     padding: 8px;
     margin: 0px 5px;
     background-color: #22203B;
     border-radius: 20px;
     color: whitesmoke;
}

/* -------------------------------------------
          footer-end
---------------------------------------------- */
/* -------------------------------------------
          media-start--------------------------------------------------------------------------------------------------------------
---------------------------------------------- */
@media only screen and (max-width:700px) {
     .main-nav{
          display: none;
     }
     /* --------------------------------------
               header-start
     ------------------------------------------------- */
     .main-header{
               width: 100%;
               display: flex;
               flex-wrap: wrap;
               justify-content: center;
             
     }
     .header-text{
               order: 2;
               width: 100%;
               text-align: center;
     }
     .header-para p{
          margin-left: 0px;
     }

 
     .header-text button{
          margin-left: 0px;
     
     }
     .header-para h1{
          margin-left:0px;
     }
     
     .header-img img{
          order: -1;
          width: 80%;
          padding-left: none;  
          margin: auto;
         
     }
   /* --------------------------------------
               header-end
     ------------------------------------------------- */
     /* ------------------------------
          logo-start
     ------------------------------------- */
     .company-name{
          display: flex;
          flex-wrap: wrap;
     }
          /* ------------------------------
          logo-end
     ------------------------------------- */
        /* --------------------------------------
               article-start
     ------------------------------------------------- */
     .collection-name{
          display: grid;
          grid-template-columns: 1fr;
          width: 90%;
          height: 80%;
     
     }
     .collection-box{
     width: 100%;
     height: auto;
     margin: 10px;
     }
     a{
         display: none;
          
     }
        /* --------------------------------------
               article-end
     ------------------------------------------------- */
     /* -------------------------------------------------
                    about-start
     ------------------------------------------------------ */
     .introduce{
          width: 100%;
          position: relative;
     }
     .about{
          width: 100%;
          height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
     
     }
     .about-me{
          order: 1;
          width: 100%;
          text-align: center;
   
     }
     .about-message{
          order: 2;
          width: 100%;
          display: block;
          text-align: center;
     }
     input{
          width: 100%;
     
       
     }
     .about-img{
          margin: auto;
     }
   
     .about-img img{
          order: 3;
         width: 70%;
         top: 0%;
         left: 18%;
         margin-bottom: 20px;
          position: absolute;

     }
    

/* ----------------------------------------------
               about-end
------------------------------------------------------ */
 /* -------------------------------------------------
          footer-start
 ------------------------------------- */
     .main-footer{
          width: 100%;
          margin: auto;
     }
  /* -------------------------------------------------
          footer-end
 ------------------------------------- */

}

/* -------------------------------------------
          media-end
---------------------------------------------- */
/* ----------------------------------------------------------
          media-start
-------------------------------------------------- */
@media only screen and (min-width:700px) and (max-width:950px) {

     /* -------------------------------------
               nav-start
     --------------------------------------- */
     .main-nav{
          display: none;
     }
     /* ----------------------------------
               header-start
     ------------------------------------------- */

         .main-header{
               width: 100%;
               display: flex;
               flex-wrap: wrap;
             
     }
     .header-text{
               order: 2;
               width: 1000px;
               text-align: center;
     }
     .header-img img{
          order: -1;
          width: 100%;
          margin-left: 30px;
         
     }

     /* -----------------------------------
               company-logo start
     ---------------------------------------- */
     .company-name{
          display: flex;
          flex-wrap: wrap;
     }
     /* -------------------------------------------
               collection-start
     --------------------------------------------------- */
     .collection-name{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(5, 1fr);
          grid-column-gap: 50px;
          width: 100%;
          height: 100%;
     
     }
     .collection-box{
     width: 100%;
     height: auto;

     }
      a{
         display: none;
          
     } 


     .introduce{
          width: 100%;
          position: relative;
     }
     /* ------------------------------------------
          about-start
     ------------------------------------------------- */
     .about{
          width: 100%;
          height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
     
     }
     .about-me{
          order: 1;
          width: 100%;
          text-align: center;
   
     }
     .about-message{
          order: 2;
          width: 100%;
          display: block;
          text-align: center;
     }
     input{
          width: 100%;
     
       
     }
     .about-img{
          margin:auto;
     }
   
     .about-img img{
          order: 3;
         width: 45%;
         top: 0%;
         left: 28%;
         margin-bottom: 20px;
          position: absolute;

     }
     /* ----------------------------
               footer-start
     ------------------------------------ */


     .main-footer{
          width: 100%;
          margin: auto;
     }
    
}
.all-right{
     overflow-x: hidden;
}